#create{
    margin-left:50px;
    max-height: 30px;
}
label{
    color:brown;
margin-left: 890px;   
}
p{
    color: cadetblue;
    margin-left: 800px;   
}
input, #create{
    padding: 5px;
     margin: 0 auto;
    display: block;
}
.container{
    margin-top: 400px;
}
#login{
    background-color: dodgerblue;
}