#home{
    margin-left: 700px;
    }
    .container{
        color: dodgerblue;
        white-space: pre-wrap;
        font-style: italic;
        background-color: deepskyblue;
        border:2px solid cyan;
    }
    p{
        margin-top: 1px;
        margin: -18px;
        margin-top: -30px;
        margin-left: 800px;
        text-align: center;
        max-width: 20px;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 20px;
    }
    #users{
        margin-left: 900px;
        max-width: 40px;
    }
    h1{
        color: blue;
        text-decoration: underline;
    }
    b{
  margin-left: 500px;
        color: deepskyblue;
    }
    div{
        color: dodgerblue;
    }
    .question{
        margin-top: 10px;
        padding: 10px;
        background-color: teal;
        border: 2px solid turquoise;
        display: flex;
        white-space: pre-line;
        justify-content: safe;
    }

